node_modules
.expo
.vscode
dist
web-build
expo-env.d.ts
.eas-inspect-archive
.eas-inspect-*

.env
.env.*
!.env.example

npm-debug.*
yarn-debug.*
yarn-error.*
*.log
*.tsbuildinfo

ios
android
.kotlin
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.DS_Store
